* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
font-family: Arial, Helvetica, sans-serif;
}
img{
    vertical-align: middle;
}
a{
    text-decoration: none;
    display: inline-block;
}
ul,li{
    list-style: none;
}
/* Common CSS End */

/* Navbar Part Start */

.nav-hover a{
    font-size: 12px;
    padding: 0 10px 0 0;
}
.nav-hover a:hover{
    color: #7f97ff;
}
/* Navbar Part End */
/* bunner section start */
#bunner-part{
    background-color: #f9f9ff !important;
}
.bunner h1{
    font-size: 60px;
}

.bunner p{
   color: rgba(78, 78, 78, 0.7);
}

.bunner a{
    background-color: #7f97ff;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
/* bunner section end */
/* about section strat  */
#about-part{
    padding: 80px 0;
}
.about a{
    background-color: #7f97ff;
    color: #fff;
    padding: 10px 20px;
}
/* about section end */
/* Servicec section strat */
#services{
    padding: 80px 0;
}
.service-card i{
    font-size: 38px;
    padding: 10px 0;
}
.service-card{
    padding: 20px 40px;
}
.service-card:hover{
    background-color: #8293ff;
}
/* Servicec section end */
/* counter section start */
#counter-part{
    background-color: #8293ff;
    padding: 100px 0;
}
/* counter section end */
/* Features section start */
#features-part{
    padding: 80px 0;
}

.features-img img{
    position: relative;
}
.features-img .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #8293ff;
}


/* Features section end */