* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{

}
img{
    vertical-align: middle;
}
a{
    text-decoration: none;
    display: inline-block;
}
ul,li{
    list-style: none;
}
/* Common CSS End */

/* Navbar Part Start */








/* Navbar Part End */